<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3069149598-phpls6nkd336sqaerdpjf0q9iv0nbvl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3069149598-phpls6nkd336sqaerdpjf0q9iv0nbvl7</string>
	<key>API_KEY</key>
	<string>AIzaSyC_uyFtOFLfLCPAnMGKc-vAweI5tOKJFB0</string>
	<key>GCM_SENDER_ID</key>
	<string>3069149598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>benscobie.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-44b65</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-44b65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3069149598:ios:7842add4cccb7c81bc168f</string>
</dict>
</plist>